{% extends 'template.twig' %}

{% block content %}
     <div class="container margin-menu-custom">
        <div class="row">
            <div class="col-12 chat-content">
                {% for message in messages %}
                <p>{{message.membre}} à {{message.dtime}}</p>
                <p>{{message.content}}</p>
                {% endfor %}
            </div>
        </div>
        <form action="index.php?action=chatMessage" method="POST" class="mt-3">
            <div class="row">
                <div class="col-11">
                    <textarea name="messageChat" id="" rows="3" placeholder="Votre Message"></textarea>
                </div>
                <div class="col-1">
                    <input type="submit" class="btn btn-success" name="sendMessage" value="Envoyer">
                </div>
            </div>
        </form>
     </div>
{% endblock %}