{% extends 'template.twig' %}

{% block header %}
<title>DAD IN FORMATION | Chat</title>
<meta name="description" content="Retrouver les tutoriels des papas en cour de formation publier par notre equipe">
{% endblock %}

{% block content %}
    <div class="container margin-menu-custom">
        <h4 class="name pink"><i class="far fa-comments blue"></i> Chat</h4>
        <div class="card">
            <div class="card-header">
                <div class="chat-content">
                
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <form action="index.php?action=chatMessage" method="POST" class="bg-light col-12">
                        <div class="input-group">
                            <input type="text" placeholder="Votre message" name="messageChat" aria-describedby="button-addon2" class="form-control rounded-0 border-0 py-4 bg-light chatMessage">
                            <div class="input-group-append">
                                <button id="button-addon2" type="submit" name="sendMessage" class="btn btn-link postChat"> <i class="fa fa-paper-plane postChat"></i></button>
                            </div>
                        </div>
                    </form>
                 </div>
            </div>
        </div>
    </div>



     
{% endblock %}