{% extends 'template.twig' %}

{% block content %}

    <div class="container margin-menu-custom">
        <p>Bienvenue parmis les futures papas de DAD IN FORMATION {{ user.pseudo }}</p>
        
    </div>
{% endblock %}