{% extends 'template.twig' %}

{% block content %}

    <div class="container margin-menu-custom">
        <p>Benvenue parmis les futures papas de DAD IN FORMATION {{ _get.pseudo }}</p>
        
    </div>
{% endblock %}