{% extends 'template.twig' %}

{% block content %}
    <div class="container margin-menu-custom">
        
        <div class="row">
            <div class="col-md-6">
            <p>Pour accéder à toutes les fonctionnalitées du site,<br>
                commencé par vous inscrire</p>
        </div>
        <div class="col-md-6">
            <form action="index.php?action=registration" method="POST" class="mx-auto">
                <div class="form-group">
                    <label for="pseudo">
                        Choissiser votre pseudo :
                    </label>
                    <input type="text" class="form-control" name="pseudo" id="pseudo">
                </div>
                <div class="form-group">
                    <label for="mail">
                        Entrer votre mail
                    </label>
                    <input type="email" class="form-control" name="mail" id="mailInsc">
                </div>
                <div class="form-group">
                    <label for="mail2">
                        Confirmer votre mail
                    </label>
                    <input type="email" class="form-control" name="mail2" id="mailInsc2">
                </div>
                <div class="form-group">
                    <label for="password">
                        un petit mot de passe
                    </label>
                    <input type="password" class="form-control" name="password" id="mdpInsc">
                </div>
                <div class="form-group">
                    <input type="submit" value="M'inscrire" name="registration" class="form-control" id="inscription">
                </div>
                
            </form>
        </div>
        </div>
        
    </div>
     
{% endblock %}