{% extends 'template.twig' %}

{% block header %}
<title>DAD IN FORMATION | tuto</title>
<meta name="description" content="Retrouver les tutoriels des papas en cour de formation publier par notre equipe">
{% endblock %}

{% block content %}
    <div class="container margin-menu-custom">
        <h4 class="name pink"><i class="fas fa-graduation-cap blue"></i> TUTO</h4>
        <p class="margin-0 blue mb-5">Retrouvez tous les tutos des papas en cour de formation</p>
        <div class="row">
            {% for tuto in tutos %}
            <div class="col-lg-6 col-sm-12 mt-4">
                <div class="box-tuto d-flex flex-column justify-content-between h-100">
                    <a href="index.php?action=tuto&amp;id={{ tuto.id }}" class="tuto-style h-100">
                            <div class="card text-center h-100">
                                <div class="card-header">
                                    <h5 class="card-title">{{ tuto.title | raw}}</h5>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">{{ tuto.presentation }}</p>
                                    
                                </div>
                            </div>
                        </a>
                </div>
                
            </div>
            {% endfor %}
        </div>
        
    </div>
     
{% endblock %}