{% extends 'template.twig' %}

{% block content %}
    

    <header class="illu">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                         <h1 class="site-name">DAD IN FORMATION</h1>
                         <p>Le site des futures papas.</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
   
    <section class="container mt-5">
        <div class="row">
           <div class="col-md-4">
               <div class="d-flex flex-column align-content-center justify-content-center">
                    <i class="fas fa-comments picto pink"></i>
                    <p class="mt-3 text-center">Un espace de discussion.</p>
               </div>
           </div>
           <div class="col-md-4">
               <div class="d-flex flex-column align-content-center justify-content-center">
                    <i class="fas fa-cogs picto blue"></i>
                    <p class="mt-3 text-center">Des tutos, trucs et astuces.</p>
               </div>
           </div>
           <div class="col-md-4">
               <div class="d-flex flex-column align-content-center justify-content-center">
                    <i class="fas fa-baby-carriage picto pink"></i>
                    <p class="mt-3 text-center">Tout ce que vous devez savoir pour devenir papa.</p>
               </div>        
           </div>
        </div>
    </section>

    <section class="container mt-5 mb-5">
        <h1 class="display-4 site-name"><span class="blue">DAD IN</span><span class="pink"> FORMATION</span></h1>
         <p class="lead">Le premier site dédié au papa. <br>
                        Apprenez comment acceuillir votre enfant, découvrez les petits conseils de notre équipe <br>
                    et enfin partagez votre experience avec d'autre papa.</p>
         <hr class="my-4">
         <p>Pour acceder au fonctionnalités du site inscrivez vous.</p>
         <a class="btn btn-primary btn-lg" href="index.php?action=registrationView" role="button">inscription</a>
    </section>
        
    
    
    
{% endblock %}