{% extends 'template.twig' %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <img src="./App/public/dad.png" alt="" class="illu mx-auto">
        </div>
        <div class="row">
            <p class="mx-auto">Avec DAD IN FORMATION <br>
                apprenez à devenir papa avant que n'arrive votre nouvel etre cher</p>
        </div>    
    </div>
    
    
{% endblock %}